<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Reviews</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <h1>Zooey Book Reviews</h1>
    <a href="/add" class="btn btn--add btn--link">Add Book</a>
    <main>
    <% books.forEach(book=> { %>
        <article>
            <img src="<%= book.img_url %>" alt="<%= book.title %>" loading="lazy">
            <div class="book_description">
                <h2 class="book__title">
                    <%= book.title %>
                </h2>
                <p class="book__rating">
                    Recommendation <%= book.rating %> / 10
                </p>
                <p class="book__review">
                    <%= book.review %>
                </p>
                <div class="actions">
                    <form class="action-form" action="/edit/<%= book.id %>" method="get">
                        <button type="submit">Edit</button>
                    </form>
                    <form class="action-form" action="/delete" method="post">
                        <input type="hidden" name="bookId" value="<%= book.id %>">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </article>
        <% }) %>
    </main>
            
</body>

</html>